@CHARSET "UTF-8";
body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}
.navbar-primary {
    color: #fff;
    background-color: #428bca;
}
.navbar-primary .navbar-nav>li>a {
    color: #fff;
}
.navbar-primary .navbar-brand {
	color: #fff;
}
.navbar-primary .navbar-nav > li > a:hover, .navbar-primary .navbar-nav > li > a:focus {
    color: #555;
    background-color: #d9edf7;
}

.dropdown-menu{
	background-color: #d9edf7;
}

.navbar-primary .nav .open>a, .navbar-primary .nav .open>a:focus, .navbar-primary .nav .open>a:hover {
    background-color: #d9edf7;
    border-color: #337ab7;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.label{
	display: inline-block;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}
#footer {
    min-height: 80px;
    padding-top: 20px;
	background: url('../images/footer_bg.png') repeat;
	color:#fff;
}
#footer a{
	color:#fff;
}
#footer .glyphicon{
	margin-right:10px;
}