@CHARSET "UTF-8";
body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.label{
	display: inline-block;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}
#footer {
    min-height: 80px;
    padding-top: 20px;
}